/* variable */
:root {
    --red: #ff2424;
    --blue: #0af;
    --green:#3d9f5a;
    --yellow:#fff652;
    --orange:#ffbd41;
    --dark:#212121;
    --light:#dcdcdc;
    --white: #fff;
    --black: #000;
}
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI','微軟正黑體';

    /* background-color: var(--yellow); */
}
table {
    border-collapse: collapse;
}
/* button */
.btn {
    display: inline-block;
    padding: 8px 20px;
    border: 0;
    text-decoration: none;
    color: var(--dark);
    border-radius: 6px;
}
.btn-red {
    background-color: var(--red);
    color: var(--white);
}
.btn-blue {
    background-color: var(--blue);
}
.btn-yellow {
    background-color: var(--yellow);
}
.btn-orange {
    background-color: var(--orange);
}
.btn-green {
    background-color: var(--green);
}
.btn-dark {
    background-color: var(--dark);
    color: var(--light);
}
.btn-light {
    background-color: var(--light);
}