nav {
    width: 100%;
    background-color: var(--dark);

    display: flex;
    flex-direction: column;
    padding: 20px 0;

    position: fixed;
    top: 0;
    z-index: 99;
}
.nav-toggle {
    color: var(--light);
    position: absolute;
    right: 15px;
    top: 30px;
}
.logo {
    color: var(--light);
    text-decoration: none;
    padding: 10px 8px;
    font-weight: bold;
    font-size: 20px;
}
.nav-group {
    width: 100%;
    display: flex;
    flex-direction: column;

    height: 0;
    opacity: 0;
    overflow: hidden;

    transition: height 500ms,opacity 500ms;
}
.nav-group.open {
    display: flex;

    opacity: 1;

}
.nav-link {
    color: var(--light);
    text-decoration: none;
    padding: 10px 0px;
    margin: 0 8px;
    display: inline-block;
    border-radius: 5px;
    position: relative;

}
.nav-link::after {
    content:'';
    display: inline-block;
    border-bottom: 2px solid var(--orange);
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0;

    /* opacity: 0; */
    transform: scaleX(0);
    /* transform-origin: left; */
    transition: 600ms;

}
.nav-link:hover::after {
    /* opacity: 1; */
    transform: scaleX(1);
}
/* 虛擬類別 */
/* .nav-link:hover{ */
    /* color: var(--dark); */
    /* background-color: var(--yellow); */
    /* text-decoration: underline; */
/* } */
.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
}


@media (min-width: 600px){
    nav {
        width: 100%;
        height: 70px;
        background-color: var(--dark);
    
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .logo {
        padding: 0 8px;
    
    }
    .nav-group {
        display: flex;
        flex-direction: row;
        opacity: 1;
        height: initial;
    }
    .nav-link {
        color: var(--light);
        text-decoration: none;
        padding: 10px 0px;
        margin: 0 8px;
        display: inline-block;
        border-radius: 5px;
        position: relative;
    }
    .nav-link:hover::after {
        content:'';
        display: inline-block;
        border-bottom: 2px solid var(--orange);
        width: 100%;
        position: absolute;
        bottom: 5px;
        left: 0;
    }
    /* 虛擬類別 */
    /* .nav-link:hover{ */
        /* color: var(--dark); */
        /* background-color: var(--yellow); */
        /* text-decoration: underline; */
    /* } */
    .nav-menu {
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    
    .nav-menu:nth-child(2){
        margin-left: auto;
    }
    
}
/* header */
/* 方法一:使用background-image */
header {
    width: 100%;
    background-image: url('https://picsum.photos/id/95/1600/1000');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;

    /* height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
} 
.header-content {
    background-color: #ffffff5c;
    padding: 30px;
    backdrop-filter: blur(6px);
    max-width: 800px;
    margin: auto;
}

.header-content h1 {
    font-size: 50px;
}
.header-content p {
    font-size: 16px;
    margin: 15px 0;
}
@media (min-width: 480px){
    header {
        padding-top: 300px;
        padding-bottom: 300px;
    } 
    .header-content h1 {
        font-size: 80px;
    }
    .header-content p {
        font-size: 20px;
    }
}
/* 方法二:使用img */
/* header {
    width: 100%;
    position: relative;
}
header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.header-content h1 {
    font-size: 80px;
}
.header-content p {
    font-size: 20px;
}
.header-body {
    background-color: #ffffff5c;
    text-align: center;
    padding: 30px;
    backdrop-filter: blur(6px);
    max-width: 800px;
} */
/* about */
#about {
    padding-top: 120px;
    padding-bottom: 120px;
}
#about h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--light);
}
#about h3 {
    font-size: 2rem;
    text-transform: capitalize;
}
#about p {
    line-height: 1.7rem;
    margin: 15px 0;
}
/* SERVICE */
#service {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--light);
}
#service h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--dark);
}
#service h3 {
    font-size: 2rem;
    text-transform: capitalize;
}
#service p {
    line-height: 1.7rem;
    margin: 15px 0;
}
/* Product */
#product {
    padding-top: 120px;
    padding-bottom: 120px;
}
#product h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--light);
}
.product-wrapper {
    border: var(--light) solid 1px;
    border-radius: 6px;
    overflow: hidden;

    transition: 300ms;
}
.product-wrapper:hover {
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,.2);
    /* 
        box-shadow: 水平偏移 垂直偏移 模糊程度 (擴散程度) 顏色
    */
    transform: translate(-2px,-2px);
}
.product-content {
    padding: 15px;
}
.product-content h3 {
    margin-bottom: 10px;
}
.product-content p {
    margin-bottom: 15px;
}
/* contact */
#contact {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--light);
}
#contact h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--dark);
}
#contact .row {
    justify-content: center;
}
/* footer */
footer {
    padding: 15px;
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
}
/* gotop */
.gotop {
    color: var(--red);
    position: fixed;
    right: 30px;
    bottom: 30px;
}

/* modal */
.modal {
    /* display: none; */

}
.modal.active {
    /* display: block; */
}
.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;

    z-index: -1;
    transition:background-color 600ms 600ms,z-index 600ms 750ms;
    /* transition: 600ms; */
}
.modal.active .modal-overlay {
    background-color: rgb(0 0 0 / .8);
    z-index: 3;
    transition: background-color 600ms;
}
.modal-container {
    background-color: #fff;
    position: fixed;
    width: 65%;
    max-width: 900px;
    padding: 30px;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    opacity: 0;
    z-index: -1;
    transition:opacity 600ms,z-index 600ms 600ms;
}
.modal.active .modal-container {
    opacity: 1;
    z-index: 5;
    transition:opacity 600ms 600ms;
}
/* slider */
header {
    background-image: initial;
}
.slider {
    width: 100%;
    margin: auto;
    position: relative;

    overflow: hidden;
}
img {
    width: 100%;
}
.slider-wrapper {
    display: flex;
    /* width: 7200px; */
    transition: 600ms;
}
.slider-item {
    width: 1200px;
    height: 600px;
}
.slider-nav {
    background-color: rgb(255 255 255 / .2);
    backdrop-filter: blur(2px);
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 15px 0;
}
.slider-nav a {
    text-decoration: none;
    color: #000;
}