nav {
    width: 100%;
    height: 70px;
    background-color: var(--dark);

    display: flex;
    align-items: center;
}
.logo {
    color: var(--light);
    text-decoration: none;
    padding: 0 8px;
    font-weight: bold;

}
.nav-group {
    margin-left: auto;
}
.nav-link {
    color: var(--light);
    text-decoration: none;
    padding: 0 8px;
}
.nav-menu {
    list-style: none;
    display: flex;
    margin-left: auto;
}